$theme-colors: (
    'info': tomato,
    'danger': teal,
    'primary': red,
    'secondary': orange,
    'banana': yellow,
);

// Background colors
$primary-background-color: #111;

// Text Colors
$primary-text-color: #fff;
